    <link designed rel="import" href="/lib/polymer/polymer.html">
    <link designed rel="import" href="/lib/polymer-ts/polymer-ts.min.html">
    <script designed type="text/javascript" src="/mvs/mvs-component.js"></script>