:host {
  --top: auto;
  --left: auto;
  --width: auto;
  --height: auto;
  --margin: 0;
  --root-margin: 0;
  --background: initial;
  --border: #000;
  --border-style: solid;
  --border-width: 0;
  --border-radius: 0;
  --color: initial;
  --font-family: Sans-serif;
  --font-size: initial;
  --font-style: normal;
  --font-weight: normal;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
  margin: var(--margin);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
}
#root {
  margin: var(--root-margin);
  padding-bottom: 3px;
  padding-top: 1px;
}
#button {
  background: var(--background);
  border: var(--border);
  border-style: var(--border-style);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
}
