﻿<mvs-root id="root">
    <template is="dom-if" if="{{ multiline }}">
        <paper-textarea label="input text..."></paper-textarea>
    </template>
    <template is="dom-if" if="{{ !multiline }}">
        <paper-input label="input text..."></paper-input>
    </template>
</mvs-root>