    <link designed rel="import" href="/lib/polymer/polymer.html">
    <link designed rel="import" href="/lib/polymer-ts/polymer-ts.min.html">    
    <script designed type="text/javascript" src="/mvs/mvs-component.js"></script>
    <link designed rel="import" href="/components/root/component.html">    <dom-module id=mvs-ticker><style>:host {
  --top: auto;
  --left: auto;
  --width: auto;
  --height: auto;
  --margin: 0;
  --root-margin: 0;
  --background: initial;
  --border: #000;
  --border-style: solid;
  --border-width: 0;
  --border-radius: 0;
  --color: initial;
  --font-family: Sans-serif;
  --font-size: initial;
  --font-style: normal;
  --font-weight: normal;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
  margin: var(--margin);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
}
#root {
  margin: var(--root-margin);
  background: var(--background);
  border: var(--border);
  border-style: var(--border-style);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
ul li:nth-child(n+2) {
  display: none;
}
ul.horizontal {
  display: inline-flex;
}
ul.horizontal li {
  margin: 0 0 0 4px;
}
</style><template>﻿<mvs-root id="root">
    <ul id="ticker">
        <template is="dom-repeat" items="{{ messages }}">
            <li>{{ item }}</li>
        </template>
    </ul>
</mvs-root></template><script>/// <reference path="../../../typings/_references.d.ts" />
var __extends = (this && this.__extends) || function (d, b) {
    for (var p in b) if (b.hasOwnProperty(p)) d[p] = b[p];
    function __() { this.constructor = d; }
    d.prototype = b === null ? Object.create(b) : (__.prototype = b.prototype, new __());
};
var __decorate = (this && this.__decorate) || function (decorators, target, key, desc) {
    var c = arguments.length, r = c < 3 ? target : desc === null ? desc = Object.getOwnPropertyDescriptor(target, key) : desc, d;
    if (typeof Reflect === "object" && typeof Reflect.decorate === "function") r = Reflect.decorate(decorators, target, key, desc);
    else for (var i = decorators.length - 1; i >= 0; i--) if (d = decorators[i]) r = (c < 3 ? d(r) : c > 3 ? d(target, key, r) : d(target, key)) || r;
    return c > 3 && r && Object.defineProperty(target, key, r), r;
};
var MvsTicker = (function (_super) {
    __extends(MvsTicker, _super);
    function MvsTicker() {
        _super.apply(this, arguments);
    }
    MvsTicker.prototype.createNew = function () {
    };
    MvsTicker.prototype.animate = function () {
        console.log('animate');
        var $ticker = this.$.ticker;
        var $firstItem = $($ticker).children('li:first');
        $firstItem.css("transition", "transform " + this.duration + "ms");
        $firstItem[0].addEventListener('webkitTransitionEnd', function (event) {
            $firstItem.remove();
            $firstItem.css("transform", "translateX(0%)");
            $firstItem.css("transform", "translateY(0%)");
            $($ticker).append($firstItem);
            if ($ticker.children[0].tagName == 'TEMPLATE') {
                var template = $ticker.children[0];
                $(template).remove();
                $($ticker).append(template);
            }
        }, false);
        if (this.direction == 'LeftToRight') {
            $firstItem.css("transform", "translateX(100%)");
        }
        else if (this.direction == 'RightToLeft') {
            $firstItem.css("transform", "translateX(-100%)");
        }
        else if (this.direction == 'TopToBottom') {
            $firstItem.css("transform", "translateY(100%)");
        }
        else if (this.direction == 'BottomToTop') {
            $firstItem.css("transform", "translateY(-100%)");
        }
    };
    MvsTicker.prototype.speedChanged = function (newValue, oldValue) {
        var _this = this;
        clearInterval(this.animateFunction);
        this.animateFunction = setInterval(function () {
            _this.animate();
        }, newValue);
    };
    __decorate([
        property({ type: Array, value: ["dummy message #1", "dummy message #2", "dummy message #3", "dummy message #4", "dummy message #5"], display: "Message", group: "feature", valueType: "Array<string>" })
    ], MvsTicker.prototype, "messages", void 0);
    __decorate([
        property({ type: Number, value: 1000 })
    ], MvsTicker.prototype, "speed", void 0);
    __decorate([
        observe("speed")
    ], MvsTicker.prototype, "speedChanged", null);
    __decorate([
        property({ type: String, value: 'RightToLeft', display: "Direction", group: "feature" })
    ], MvsTicker.prototype, "direction", void 0);
    __decorate([
        property({ type: Number, value: 500, group: "feature" })
    ], MvsTicker.prototype, "duration", void 0);
    MvsTicker = __decorate([
        /// <reference path="../../../typings/_references.d.ts" />
        component("mvs-ticker"),
        behavior(Mvs.ComponentBaseBehavior)
    ], MvsTicker);
    return MvsTicker;
}(Mvs.ComponentBase));
MvsTicker.register();
</script></dom-module>