    <link designed rel="import" href="/lib/polymer/polymer.html">
    <link designed rel="import" href="/lib/polymer-ts/polymer-ts.min.html">
    <script designed type="text/javascript" src="/mvs/mvs-component.js"></script>
    <link designed rel="import" href="/components/root/component.html">
    <link designed rel="import" href="/lib/paper-elements/paper-elements.html"><dom-module id=mvs-input><style>:host {
  --top: auto;
  --left: auto;
  --width: auto;
  --height: auto;
  --margin: 0;
  --root-margin: 0;
  --background: initial;
  --border: #000;
  --border-style: solid;
  --border-width: 0;
  --border-radius: 0;
  --color: initial;
  --font-family: Sans-serif;
  --font-size: initial;
  --font-style: normal;
  --font-weight: normal;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
  margin: var(--margin);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
}
#root {
  margin: var(--root-margin);
}
</style><template>﻿<mvs-root id="root">
    <template is="dom-if" if="{{ multiline }}">
        <paper-textarea label="input text..."></paper-textarea>
    </template>
    <template is="dom-if" if="{{ !multiline }}">
        <paper-input label="input text..."></paper-input>
    </template>
</mvs-root></template><script>/// <reference path="../../../typings/_references.d.ts" />
var __extends = (this && this.__extends) || function (d, b) {
    for (var p in b) if (b.hasOwnProperty(p)) d[p] = b[p];
    function __() { this.constructor = d; }
    d.prototype = b === null ? Object.create(b) : (__.prototype = b.prototype, new __());
};
var __decorate = (this && this.__decorate) || function (decorators, target, key, desc) {
    var c = arguments.length, r = c < 3 ? target : desc === null ? desc = Object.getOwnPropertyDescriptor(target, key) : desc, d;
    if (typeof Reflect === "object" && typeof Reflect.decorate === "function") r = Reflect.decorate(decorators, target, key, desc);
    else for (var i = decorators.length - 1; i >= 0; i--) if (d = decorators[i]) r = (c < 3 ? d(r) : c > 3 ? d(target, key, r) : d(target, key)) || r;
    return c > 3 && r && Object.defineProperty(target, key, r), r;
};
var MvsInput = (function (_super) {
    __extends(MvsInput, _super);
    function MvsInput() {
        _super.apply(this, arguments);
    }
    MvsInput.prototype.createNew = function () {
    };
    __decorate([
        property({ type: Boolean, value: false, display: "Multiline", group: "feature" })
    ], MvsInput.prototype, "multiline", void 0);
    MvsInput = __decorate([
        /// <reference path="../../../typings/_references.d.ts" />
        component("mvs-input"),
        behavior(Mvs.ComponentBaseBehavior)
    ], MvsInput);
    return MvsInput;
}(Mvs.ComponentBase));
MvsInput.register();
</script></dom-module>