﻿@import "../../mvs/functions.styl"

:host {
    host();
}

#root {
    root();
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;    
}

ul li {
    list-style: none;    
}

ul li:nth-child(n+2) {
    display: none;    
}

ul.horizontal
    display: inline-flex;
    
    li
        margin: 0 0 0 4px;