    <link designed rel="import" href="/lib/polymer/polymer.html">
    <link designed rel="import" href="/lib/polymer-ts/polymer-ts.min.html">
    <script designed type="text/javascript" src="/mvs/mvs-component.js"></script>
    <link designed rel="import" href="/components/root/component.html">
    <link designed rel="import" href="/lib/paper-elements/paper-elements.html">