    <link designed rel="import" href="/lib/polymer/polymer.html">
    <link designed rel="import" href="/lib/polymer-ts/polymer-ts.min.html">
    <script designed type="text/javascript" src="/mvs/mvs-component.js"></script><dom-module id=mvs-root><style>:host {
  display: flex;
  justify-content: center;
  overflow: auto;
}
</style><template>﻿<content></content></template><script>/// <reference path="../../../typings/_references.d.ts" />
var __extends = (this && this.__extends) || function (d, b) {
    for (var p in b) if (b.hasOwnProperty(p)) d[p] = b[p];
    function __() { this.constructor = d; }
    d.prototype = b === null ? Object.create(b) : (__.prototype = b.prototype, new __());
};
var __decorate = (this && this.__decorate) || function (decorators, target, key, desc) {
    var c = arguments.length, r = c < 3 ? target : desc === null ? desc = Object.getOwnPropertyDescriptor(target, key) : desc, d;
    if (typeof Reflect === "object" && typeof Reflect.decorate === "function") r = Reflect.decorate(decorators, target, key, desc);
    else for (var i = decorators.length - 1; i >= 0; i--) if (d = decorators[i]) r = (c < 3 ? d(r) : c > 3 ? d(target, key, r) : d(target, key)) || r;
    return c > 3 && r && Object.defineProperty(target, key, r), r;
};
var MvsRoot = (function (_super) {
    __extends(MvsRoot, _super);
    function MvsRoot() {
        _super.apply(this, arguments);
    }
    MvsRoot = __decorate([
        /// <reference path="../../../typings/_references.d.ts" />
        component("mvs-root")
    ], MvsRoot);
    return MvsRoot;
}(polymer.Base));
MvsRoot.register();
</script></dom-module>