variable($prop, $name, $args) {
    if $name != null {
        $variable = s('--%s-%s', $name, $prop);
    } else {        
        $variable = s('--%s%s', $name, $prop);
    }
    
    {$variable} $args  
}

setter($prop, $name, $args) {
    if $name != null {
        $variable = s('--%s-%s', $name, $prop);
        $setter = s('var(%s)', $variable);
    } else {        
        $variable = s('--%s%s', $name, $prop);
        $setter = s('var(%s)', $variable);
    }
    
    {$prop} $setter
}

host() {
    layout_var();
    variable(margin, root, 0); // host padding
    appearance_var();
    border_var();
    font_var();
    
    layout_set();
    font_set();    
}

root() {
    setter(margin, root, 0); // host padding
    appearance_set();
    border_set();
}

root_less() {
    setter(margin, root, 0); // host padding    
}

layout_var($name = null) {    
    variable(top, $name, auto);
    variable(left, $name, auto);
    variable(width, $name, auto);
    variable(height, $name, auto);
    variable(margin, $name, 0);
}

layout_set($name = null) {    
    setter(top, $name, auto);
    setter(left, $name, auto);
    setter(width, $name, auto);
    setter(height, $name, auto);
    setter(margin, $name, 0);
}

appearance_var($name = null) {      
    variable(background, $name, initial);
}

appearance_set($name = null) {  
    setter(background, $name, initial);
}

border_var($name = null) {
    variable(border, $name, black);
    variable(border-style, $name, solid);
    variable(border-width, $name, 0);
    variable(border-radius, $name, 0);
}

border_set($name = null) {
    setter(border, $name, black);
    setter(border-style, $name, solid);
    setter(border-width, $name, 0);
    setter(border-radius, $name, 0);
}

font_var($name = null) {
    variable(color, $name, initial);
    variable(font-family, $name, Sans-serif);
    variable(font-size, $name, initial);
    variable(font-style, $name, normal);
    variable(font-weight, $name, normal);    
}

font_set($name = null) {
    setter(color, $name, initial);
    setter(font-family, $name, Sans-serif);
    setter(font-size, $name, initial);
    setter(font-style, $name, normal);
    setter(font-weight, $name, normal);    
}