body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
    overflow: hidden;
}

.root.canvas {
	position: relative;
	width: 100%;
	height: 100%;
}

.element {
    position: absolute;
    display: flex;
    overflow: hidden;
}

.element>*,mvs-root>* {    
    flex-grow: 1;
}